* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid #00000033;
    background-color: #ffffff;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.navbar ul li {
    list-style: none;
    padding: 1rem;
}

.navbar ul li a {
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #949494;
}

.navbar ul li a:hover {
    color: #229922;
}

.btn {
    width: 200px;
    padding: 12px 32px;
    display: flex;
    font-family: Inter;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #229922;
    font-size: 1rem;
    font-weight: 600;
    color: #229922;
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: #229922;
    color: #ffffff;
}

.blur {
    position: absolute;
    border-radius: 50%;
}

.blur:nth-of-type(1) {
    background: #dcdbff;
    width: 80px;
    height: 80px;
    top: 100px;
    left: 1000px;
    opacity: 0.7px;
}

.blur:nth-of-type(2) {
    background: #dcffdb;
    width: 80px;
    height: 80px;
    top: 350px;
    left: 400px;
    opacity: 0.7px;
}

.blur:nth-of-type(3) {
    background: #ffdbdb;
    width: 80px;
    height: 80px;
    top: 290px;
    left: 700px;
    opacity: 0.7px;
}

.blur:nth-of-type(4) {
    background: #bef3ea;
    width: 80px;
    height: 80px;
    top: 100px;
    left: 300px;
    opacity: 0.7px;
}

.blur:nth-of-type(5) {
    background: #adf9a7;
    width: 400px;
    height: 400px;
    top: 100px;
    left: -100px;
    opacity: 0.5px;
    filter: blur(100px);
}

.blur:nth-of-type(6) {
    background: #fedcff;
    width: 400px;
    height: 400px;
    top: 100px;
    left: 960px;
    opacity: 0.5px;
    filter: blur(100px);
}

.blur:nth-of-type(7) {
    background: #dcf5ff;
    width: 400px;
    height: 400px;
    top: -200px;
    left: 500px;
    opacity: 0.5px;
    filter: blur(100px);
}

.hero,
.hero-img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .mask,
.hero-img .intro-img {
    width: 100%;
    height: 75vh;
    position: relative;
}

.hero .mask {
    height: 80vh;
}

.hero-img .intro-img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
}

.mask .intro-img,
.intro-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .content,
.hero-img .heading {
    position: absolute;
    top: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero .content h1,
.hero-img .heading h1 {
    font-size: 4rem;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 700;
}

.hero .content h1 {
    color: #3b3b3b;
}

.hero .content p {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #949494;
    width: 600px;
}

.hero .content .btn {
    margin: 1rem 0.2rem;
    width: 250px;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 12px;
    color: #ffffff;
    background: #008000;
}

.hero .content .btn:hover {
    background-color: transparent;
    border: 1px solid #008000;
    color: #008000;
}