.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    width: 100vw;
    height: 5rem;
    background-color: #e8ecee;
    border: 0 0 2px 0 solid;
}

.navbar ul{
    display: flex;
    flex-direction: row; 
      
}

.navbar ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 25px;
    
}

.navbar-btn{
    width: 10rem;
    height: 50px;
    border: solid 2px #008000;
    font-size: 20px;
    border-radius: 6px;
    color: #008000;

}
